data_alignment/
.DS_Store
__pycache__/core.cpython-310.pyc
__pycache__/*
__pycache__/masking.cpython-38.pyc
__pycache__/core.cpython-38.pyc
__pycache__/core.cpython-38.pyc
TaAMSpalled/
TPS_out.tif
TPS_mapping.npy
CoNi16_3D/
CoNi16_Old/
CoNi16_Rerun/
CoNi16_Rerun2/
CoNi90_3D/
Alumina/
test_data/WCu/
test_data/control_pts.txt
test_data/distorted_pts.txt
Andy/
CoNi67/
test.png
