.DS_Store
__pycache__/core.cpython-310.pyc
__pycache__/*
__pycache__/masking.cpython-38.pyc
__pycache__/core.cpython-38.pyc
__pycache__/core.cpython-38.pyc
*.log
test_data/3D/control_pts.txt
/test_data/2D/*.json
/test_data/3D/*.json
temp.py
testing.py
MatchAnything/*