# Required libraries for the project
numpy
matplotlib
h5py
imageio
scipy
scikit-learn
scikit-image
# Libraries for MatchAnything functionality
torch[matchanything]
torchvision[matchanything]
kornia[matchanything]
einops[matchanything]
loguru[matchanything]
pillow[matchanything]
xformers[matchanything]